<div class="table-responsive-sm">
<!--  <table class="table table-striped table-hover table-active table-sm">-->
  <table class="table table-sm table-striped-light-blue">
    <thead>
    <tr app-test class="table-head-light-blue"></tr>
    </thead>
    <tbody>
    <tr *ngFor="let expense of responseExpenses.expenses">
      <th scope="row">

        <button type="button" class="btn-floating btn-small waves-effect btn-light-red">
        <i class="material-icons">remove</i>
        </button>
        <button type="button" class="btn-floating btn-small waves-effect btn-light-blue">
        <i class="material-icons">visibility</i>
        </button>
          <button type="button" class="btn-floating btn-small waves-effect btn-light-blue">
        <i class="material-icons">edit</i>
          </button>
      </th>
      <td>{{expense.user}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.currency}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.expenseCategory}}</td>
      <td>{{expense.payMethod}}</td>
      <td>{{expense.payDate}}</td>
    </tr>
    </tbody>
  </table>
</div>
