<div style="font-weight: bold">
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons">arrow_back</i>
  </button>&nbsp;
  Page:  {{ getPageNumber() + '/' + getTotalPages()}}
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons">arrow_forward</i>
  </button>&nbsp;
   Page Size:&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    10
  </button>&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    20
  </button>&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    50
  </button>
</div>


