<div style="font-size: xx-large">
  Expense List&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons">arrow_back</i>&nbsp;
  </button>
  {{getMonthName()}} &nbsp;
  {{getYear()}}
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons">arrow_forward</i>
  </button>&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons">date_range</i>
  </button>&nbsp;
  <button type="button" class="btn-floating waves-effect btn-light-blue">
    <i class="material-icons"  style="font-size: small; font-family: Comic Sans MS, Comic Sans, cursive">NOW</i>
  </button>
</div>
