  <td style="width: 130px;">
    <button type="button" class="btn-floating btn-small waves-effect btn-light-blue">
      <i class="material-icons">add</i>
    </button>
  </td>
  <td>
    <input type="text" name="user" id="user" style="max-width: fit-content">
  </td>
  <td>
    <input type="text" name="user" id="amount" style="max-width: fit-content">
  </td>
  <td>
    <input type="text" name="user" id="currency" style="max-width: fit-content">
  </td>
  <td>
    <input type="text" name="user" id="description" style="max-width: fit-content">
  </td>
  <td>
    <input type="text" name="user" id="category" style="max-width: fit-content">
  </td>
  <td>
    <input type="text" name="user" id="pay-method" style="max-width: fit-content">
  </td>
  <td>
    <input type="date" name="user" id="pay-date" style="max-width: fit-content">
  </td>
