<ul class="float-right">
  <li class="float-left">
    <button type="button" class="btn-floating btn-light-red">
      <i class="material-icons">clear</i>
    </button>
  </li>
  <li class="float-left">
    <button type="submit" class="btn-floating btn-light-blue">
      <i class="material-icons">search</i>
    </button>
  </li>
  <li class="float-left">
    <label for="search">&nbsp;</label>
    <input type="text" class="float-right" name="content" id="search"
           placeholder="Search" style="width: 150px">
  </li>
  <li class="float-left">
    <label for="fromAmount">Amount:</label>
    <input type="text" class="float-right" name="fromAmount"
           id="fromAmount" placeholder="from" style="width: 80px">
  </li>
  <li class="float-left">
    <label for="toAmount">&nbsp;</label>
    <input type="text" class="float-right" name="toAmount"
           id="toAmount" placeholder="to" style="width: 80px">
  </li>
  <li class="float-left">
    <label class="float-left" for="fromPayDate">Pay Day: from</label>
    <input type="text" name="fromPayDate"
           id="fromPayDate" placeholder="{{1}}" style="width: 40px">
  </li>
  <li class="float-left">
    <label for="toPayDate">to:</label>
    <input type="text" class="float-left" name="toPayDate"
           id="toPayDate" placeholder="{{getLastDayOfMonth()}}" style="width: 40px">
  </li>
</ul>

